@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


html, body {
    font-family: 'Poppins', sans-serif;
}

*{
   box-sizing: border-box; 
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(12, 12, 12, 0.718);
    color: white;   
}

.restaurant-name {
    font-size: 30px;
    padding-left: 20px;
}

.header-navigation {
    height: 100%;
    display: flex;
}

header ul {
    display: inline-flex;
    list-style: none;
    height: 100%;
    margin: 0;
}

header ul li {
    display: flex;
    width: 90px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header ul li:hover {
    background: rgba(49, 49, 49, 0.876);
}

header a {
    text-decoration: none;
    color: white;
}